* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.form {
    width: 400px;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 2px;
    background-color: rgb(255, 250, 244);
}

h1 {
    margin: 20px 30px;
}

form {
    margin: 30px;
    font-size: 16px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    border: 1px solid silver;
    border-radius: 2px;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 14px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    border: 1px;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(134, 134, 203);
}

div p {
    margin: 30px;
}

a {
    font-weight: bold;
}

h2 {
    margin-bottom: 10px;
}

div.form h3 {
    margin: 20px;
}

form button#exit-user {
    background-color: red;
    margin: 0px;
}

p.message {
    color: red;
    margin-top: 10px;
    text-align: center;
}